<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level}
				%magenta(%-4relative) --- [%thread{10}] %cyan(%logger{20}) : %msg%n </pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.ConsoleAppender">
		<fileNamePattern>C:\logEx\log-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>labatory.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [
				%thread{10} ] %logger{35} - %msg%n </pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.bean" level="info" />

	<logger name="">
		<level value="INFO" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- Root Logger -->
	<root level="debug">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>